@charset "utf-8";
/*
 * Application CSS File 
 * @autor: Leandro Severino
 * @version: 1.0
 */
body { margin: 0px; padding: 0px; height: 100%; min-height: 100%; background-color: #eee; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 16px; text-align:center; }
div.menuBar, div.menuBar a.menuButton, div.menu, div.menu a.menuItem { font-family: "MS Sans Serif", Arial, sans-serif; font-size: 8pt; font-style: normal; font-weight: normal; color: #000000; }
div.menuBar { background-color: #d0d0d0; border: 2px solid; border-color: #f0f0f0 #909090 #909090 #f0f0f0; height: 38px; padding: 3px 2px 4px 2px; text-align: left; }
div.menuBar a.menuButton { background-color: transparent; border: 1px solid #d0d0d0; color: #000000; cursor: default; left: 0px; margin: 1px; padding: 2px 6px 2px 6px; position: relative; text-decoration: none; top: 0px; z-index: 100; }
div.menuBar a.menuButton:hover { background-color: transparent; border-color: #f0f0f0 #909090 #909090 #f0f0f0; color: #000000; }
div.menuBar a.menuButtonActive, div.menuBar a.menuButtonActive:hover { background-color: #a0a0a0; border-color: #909090 #f0f0f0 #f0f0f0 #909090; color: #ffffff; left: 1px; top: 1px; }
div.menu { background-color: #d0d0d0; border: 2px solid; border-color: #f0f0f0 #909090 #909090 #f0f0f0; left: 0px; margin-left: 05px; padding: 0px 1px 1px 0px; position: absolute; text-align:left; top: 0px; visibility: hidden; z-index: 101; }
div.menu a.menuItem { color: #000000; cursor: default; display: block; padding: 3px 1em; text-decoration: none; white-space: nowrap; }
div.menu a.menuItem:hover, div.menu a.menuItemHighlight { background-color: #000080; color: #ffffff; }
div.menu a.menuItem span.menuItemText {}
div.menu a.menuItem span.menuItemArrow { margin-right: -.75em; }
div.menu div.menuItemSep { border-top: 1px solid #909090; border-bottom: 1px solid #f0f0f0; margin: 4px 2px; }
#outputMessages { width: 99.1%; margin: 0px; padding: 0px; height: 20px; padding-left: 10px; text-align:left; background-color: #fff; display: block; }
#localizationPanel { float: left; width: 100%; }
#message { color: blue; padding-left: 05px; padding-right: 05px; }
#innerWindow { padding:0px; margin:0px; margin-bottom: 15px; height: 340px; text-align:center; }
#windowTitle { padding: 0px; margin: 0px; width: 49.9%; text-align: left; margin-left: auto; margin-right: auto; border: 01px solid black; background-color: navy; color: white; font-weight: bold; padding-left: 15px; padding-top: 02px; padding-bottom: 02px; }
#innerPage { padding: 0px; margin: 0px; height: 80%; width: 50%; text-align: left; margin-left: auto;  margin-right: auto; border-left: 01px solid gray; border-right: 01px solid gray; border-top: 01px solid gray; border-bottom: 01px solid black; border: 03px solid red; padding-left: 07px; padding-right: 07px; padding-bottom: 07px; background-color: #fff; }
#toolbar { margin-top: 10px; margin-bottom: 10px; padding-top: 03px; padding-bottom: 0px; padding-left: 03px; text-align:left; width: 99%; background-color: #d0d0d0; border: 2px solid; border-color: #f0f0f0 #909090 #909090 #f0f0f0; }
#toolbar img { padding: 05px; border: 01px outset #ccc; /*border: none;*/ }
#messagePanel { width: 98.4%; display: block; margin-bottom: 10px; padding: 03px; background-color: #F0F0F0; border: 01px solid #ccc; }
#content { width: 100%; text-align:left; }
#content fieldset { text-align:left; padding-bottom: 15px; }
#content legend { font-weight: bold; background-color: #F0F0F0; padding: 05px; border: 01px outset #000; }
#content fieldset form label { display: block; left: 13%; position: relative; float: left; padding: 02px; padding-top: 08px; width: 70%; font-weight: bold; }
#content fieldset form input { left: 20%; position: absolute; padding: 02px; padding-left: 03px; width: 80%; border: 01px solid gray; background-color: #F0F0F0; /*border: 02px solid #00c1f8;*/ }
#content fieldset form input:focus { background-color: #fff; border: 01px solid navy; }
#content fieldset form br { clear: left; }
#innerContent { display: block; margin-top: 30px; margin-bottom: 10px;}
#copyrightMessage { text-align:center; margin-top: 10px; width: 100%; float:left;}
#copyrightMessage p { padding: 0px; text-align:center; }
#copyrightMessage p span { padding-left:10px; }
.icon_menu { border: none; margin-right: 03px; }
.required { color: red; font-weight: bold; }
.panelTitle { background-color: navy; color: white; padding: 07px; }
.panelTitle a { color: white; text-decoration: none; }
form { background-color: white; border: 01px outset #ccc; font-size: 12px; margin: 0px auto; padding: 10px 02px; width: 80%;}
form label { padding-left: 05px; padding-right: 05px;}
#orcamento_create_form { text-align: center; }
#orcamento_create_form fieldset { margin: 0px auto; padding:05px; text-align: left; width: 80%; }
#orcamento_create_form label { display:table-cell; min-width:260px; padding:02px; width:30%; }
#orcamento_create_form input, select { margin-left: 10px; }
.label_name { background-color: #E5E5E5; font-weight: bold; }
.label_required { background-color: #E5E5E5; color: red; font-weight: bold; padding-right: 05px; }
h2 { margin: 0px auto;margin-top: 0px; text-align: left; width: 80%;}
h2 .titulo { background-color: #BFBFBF; border: 01px solid #7F7F7F; padding: 0px 10px; font-size: 16px; margin: 0px;}
table { margin: 0px auto;border: 01px outset #ccc;background-color: white; width: 80%; margin-top: 05px;}
th { background: #6A9FD2;color: white;font-weight: bold; padding: 02px 0px 02px 0px; height: 30px;}
td { border: 01px solid #F6F4F4; padding: 02px 0px 02px 0px; margin: 0px; }
table tr:hover { background-color: #ccc; }
#painel_new_record { text-align: right; margin: 0px; padding: 0px; width: 90%;}
#panel_records { background-color: #ccc; display: block; margin: 0px auto; margin-bottom: 15px; width: 80%; }
#panel_records span { margin-right: 10px; }
#panel_records img { border: 0px; }
.alignLeft { text-align: left; padding-left: 10px; }
.button { background-color: #BFBFBF; border: 01px solid #7F7F7F; padding: 3px 10px; }
.button a { color: blue; font-weight: bold; text-decoration: none; }
.button a:hover { color: yellow; }
.filtro { background-color: white; color: blue; font-size: 14px; margin-left: 05px; padding: 3px 10px; }
.margin05px { margin: 0px auto;margin-top: 20px; padding: 0px; }
.painel { display: block; font-family: helvetica;font-size: 12px;margin: 0px auto;text-align: center; }
.painel_form { display: block; font-family: helvetica;font-size: 12px;margin: 0px auto;text-align: center; }
.painel_form form table { width:90%; }
.painel_form td { text-align: left; padding-left: 10px; }
.painel_form th { text-align: right; padding-right: 05px; }
.wrong { color: red; display: block; padding: 02px; }
.form_title { margin-top: 15px; margin-bottom: 15px; border-bottom: 01px dotted #000; }
.user_destaq { color: blue; }
